%flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-normal {
  display: flex;
  flex-direction: column;
}

.flex-column {
  @extend %flex-normal;
  gap: 0.7rem;
}

.flex-row-gap{
  display: flex;
  gap:2rem;
}
.flex-row-center {
  @extend %flex--center;
}

.flex-column-center {
  flex-direction: column;
  @extend %flex--center;
}
.flex-column-gap{
  @extend %flex-normal;
  gap:0.5rem;
}
.flex-row_center--gap {
  @extend %flex--center;
  gap: 2rem;
}

.flex-column_center--gap {
  @extend %flex--center;
  flex-direction: column;
  gap: 1rem;
}
