%flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row-center {
  @extend %flex--center;
}

.flex-column-center {
  flex-direction: column;
  @extend %flex--center;
}

.flex-row_center--gap {
  @extend %flex--center;
  gap: 2rem;
}

.flex-column_center--gap {
  @extend %flex--center;
  flex-direction: column;
  gap: 2rem;
}
